version: '3'
services:
  database-dev:
    container_name: database-dev
    image: "postgres" # use latest official postgres version
    environment:
      POSTGRES_USER: ${POSTGRES_USER} # configure postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - database-dev-data:/var/lib/postgresql/data/ # persist data even if container shuts down
    expose:
      - ${POSTGRES_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    command: -p ${POSTGRES_PORT}
    networks: 
      - application-dev-network
      
  backend-dev:
    container_name: backend-dev
    restart: on-failure:5 
    environment:
      NODE_ENV: development
      APP_PORT: 3000 # container port
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      JWT_SECRET: ${JWT_SECRET}
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database-dev
    ports: 
      - ${APP_PORT}:3000 # expose port with prod port
    networks: 
      - application-dev-network
volumes:
  database-dev-data: # named volumes can be managed easier using docker-compose
      driver: local
networks:
  application-dev-network:
    driver: bridge 