version: '3'
services:
  database-prod:
    container_name: database-prod
    image: postgres:13 # use latest official postgres version
    environment:
      POSTGRES_USER: ${POSTGRES_USER} # configure postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - database-prod-data:/var/lib/postgresql/data/ # persist data even if container shuts down
    expose:
      - ${POSTGRES_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    command: -p ${POSTGRES_PORT}
    networks: 
      - application-prod-network
      
  backend-prod:
    container_name: backend-prod
    environment:
      NODE_ENV: production
      APP_PORT: 3000 # container port
      POSTGRES_HOST: database-prod # container alias
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      JWT_SECRET: ${JWT_SECRET}
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database-prod
    ports: 
      - ${APP_PORT}:3000 # expose port with prod port
    networks: 
      - application-prod-network
volumes:
    database-prod-data: # named volumes can be managed easier using docker-compose
        driver: local
networks:
  application-prod-network:
    driver: bridge  