name: Production Workflow

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key : ${{ secrets.SERVER_KEY }}
          script: |
            [ ! -d ${{ github.event.repository.name }} ] && git clone https://${{ secrets.GIT_USERNAME }}:${{ secrets.GIT_PASSWORD }}@github.com/vasin-peach/itkmitl-tcas-backend
            cd ${{ github.event.repository.name }}
            git pull --force
            export APP_PORT=${{ secrets.PROD_APP_PORT }}
            export POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            export POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
            docker-compose -f docker-compose.prod.yml down
            docker-compose -f docker-compose.prod.yml up -d --no-deps --build

# mkdir -p $HOME/dags_data/linkedin-scapper/screenshort
# mkdir -p $HOME/dags_data/linkedin-scapper/url
# mkdir -p $HOME/dags_data/linkedin-scapper/data
# mkdir -p $HOME/dags_data/linkedin-scapper/cookies
# chmod -R g+rwx $HOME/dags_data/linkedin-scapper
# chown -R vasin:docker $HOME/dags_data/linkedin-scapper
            



