name: Deploy Production Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key : ${{ secrets.SERVER_KEY }}
          script: |
            [ ! -d ${{ github.event.repository.name }} ] && git clone https://${{ secrets.GIT_USERNAME }}:${{ secrets.GIT_PASSWORD }}@github.com/vasin-peach/itkmitl-tcas-backend
            cd ${{ github.event.repository.name }}
            git checkout master
            git pull --force
            export FRONT_HOST=${{ secrets.PROD_FRONT_HOST }}
            export FRONT_PORT=${{ secrets.PROD_FRONT_PORT }}
            export APP_PORT=${{ secrets.PROD_APP_PORT }}
            export POSTGRES_USER=${{ secrets.PROD_POSTGRES_USER }}
            export POSTGRES_PASSWORD=${{ secrets.PROD_POSTGRES_PASSWORD }}
            export POSTGRES_PORT=${{ secrets.PROD_POSTGRES_PORT }}
            export JWT_SECRET=${{ secrets.PROD_JWT_SECRET }}
            docker-compose -f docker-compose.prod.yml down
            docker-compose -f docker-compose.prod.yml up -d --no-deps --build

# mkdir -p $HOME/dags_data/linkedin-scapper/screenshort
# mkdir -p $HOME/dags_data/linkedin-scapper/url
# mkdir -p $HOME/dags_data/linkedin-scapper/data
# mkdir -p $HOME/dags_data/linkedin-scapper/cookies
# chmod -R g+rwx $HOME/dags_data/linkedin-scapper
# chown -R vasin:docker $HOME/dags_data/linkedin-scapper
            



