name: Deploy Production Workflow

on:
  push:
    branches:
      - master
  # pull_request:
  #   branches:
  #     - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
      - name: Copy project
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key : ${{ secrets.SERVER_KEY }}
          source: ./
          target: ./${{ github.event.repository.name }}
          rm: true

      - name: Deploy project
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            export FRONT_HOST=${{ secrets.PROD_FRONT_HOST }}
            export FRONT_PORT=${{ secrets.PROD_FRONT_PORT }}
            export APP_HOST=${{ secrets.PROD_APP_HOST }}
            export APP_PORT=${{ secrets.PROD_APP_PORT }}
            export POSTGRES_USER=${{ secrets.PROD_POSTGRES_USER }}
            export POSTGRES_PASSWORD=${{ secrets.PROD_POSTGRES_PASSWORD }}
            export POSTGRES_PORT=${{ secrets.PROD_POSTGRES_PORT }}
            export JWT_SECRET=${{ secrets.PROD_JWT_SECRET }}
            cd ${{ github.event.repository.name }}
            docker-compose -f docker-compose.prod.yml down --rmi local
            docker-compose -f docker-compose.prod.yml up -d --build --no-deps --force-recreate

      - name: Checkout
        uses: actions/checkout@v2
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          DIST_TAR_PATH: dist/dist.tar.gz
        with:
          extra_plugins: |
            @semantic-release/git@7.0.18
            @semantic-release/exec@3.3.8
            @semantic-release/changelog@3.0.0
      
                  
      
      
      
      
            



